@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hover-trigger .hover-target {
  display: none;
}

.hover-trigger:hover .hover-target {
  display: block;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot--active {
  opacity: 1;
  background: white;
  animation: load 3s linear;
}

.overlay:hover img {
  transform: scale(1.3);
}

.infinite-slide-straight {
  animation: bannermove 20s linear infinite alternate;
}
.infinite-slide-reverse {
  animation: bannermove 20s linear infinite alternate-reverse;
}

@keyframes load {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
